section{
    padding:100px;
  }
  
  
  .row{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
  
  }
  .row .col50{
      position: relative;
      width: 48%;
      justify-content: center;
      align-items: center;
  }
  .row .col50 h2{
      margin-bottom: 20px;
  }
  .titre-text{
      color:#000;
      font-size: 2em;
      font-weight: 300px;
      text-transform: capitalize;
      
  }
  .titre-text span{
      color: #fb911f;
      font-size: 1.5em;
      font-weight: 700px;
  }
  .row .col50 img{
      height: 300px;
      width: 300px;
    margin-left:50px;
    margin-top:-20px;
      position: relative;
      
  }
  
  