.inscris{
    flex-direction:column;
  }

.inscris .ption{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.inscris .ption h2{
    margin-bottom: 20px;
}
.vous{
    color:#000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
  
    
}

.vous span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

    
.inscris{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF1OX2mhrIglWxG8erVsro2-KHpTxfb8dfhGz_YyZc598yR92RDRHyNsTJPCpsDqW9nbo&usqp=CAU");
  background-size:cover;
  background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.inscris .seule{
  padding:0px;
  margin:0px;
}
.inscris .fieldset{
  margin-top:70px;
  width:27%;
  padding:50px 100px;
  background-color:#ffffff;
  box-shadow:5px 5px 20px 1px 10px rgba(85,85,85);
  border:0px;
    padding-left:10px;
  border-radius:10px 10px 10px 10px;
  margin-top:-100px;
  margin-left:500px;
  color:#000;
  height:600px;
  border-color:black;
 
}
td{
  letter-spacing:1px;
}
h1{
  font-family:andalus;
  letter-spacing:3px;
  text-align:center;
  color:#000;
}
hr{
  border:5px solid black;
  border-radius:10px;
  width:40%;
  
}
ul li{
  margin-left:20px;
  color:#000;
  
  
}
#submit{
  margin:35px 35px;
  padding:10px 20px;
  color:#fff;
  background-color:#fb911f;
  border-color:#fb911f;
  width:80%;
  font-size:17px;
  border-radius:20px;
  border:1px solid white;
  border-color:#000;
  
}
#submit:hover{
  color:white;
  background-color:green;
  
}
input{
  font-size:16px;
  border:none;
  outline:non;
  background:none;
  border-bottom:1px solid black;
  color:#000;
  width:100%;
  margin-left:10px;
  
}
  
  
p{
  text-align:center;
  margin:5px 0px;
  font-size:14px;
  
}
p a{
  text-decoration:0;
  color:#fb911f;
}
p a:hover{
  text-decoration:underline;
}* {
  font-family: sans-serif;
}
